body{
	background-coloSZSZr: #ccc;
	padding-top: Test 50px;
	font-family: '微軟正黑體';
}

#BOX {
	background-image: url(bg.png);
	width: 800px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
}

#BOX .LIST{
	padding-top: 25px;
	padding-left: 25px;
}

#BOX .LIST a{
	display: block;
	background-image: url(button_sprite1.png);
	width: 347px;
	height: 65px;
	
	color: white;
	text-decoration: none;
	line-height: 65px;
	text-indent: 20px;
}

#BOX .LIST a:hover{
	background-position: left bottom;
}

#BOX .BTN{
	padding-left: 25px;
}

#BOX .BTN a{
	display: block;
	background-image: url(button_sprite2.png);
	width: 117px;
	height: 86px;
	float: left;
	
	color: #333;
	text-decoration: none;
	text-align: center;
	line-height: 86px;
}

#BOX .BTN a:hover{
	color: #fff;
	background-position: right top;
}













