
body{
	background-color:#CCC;
	padding-top:50px;
}

#OUT{
	width:800px;
	height:400px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
	padding:30px;
	border-radius:6px;
	text-align:center;
	box-shadow:1px 2px 10px #333333; 
}


body{ color:#999; }

#OUT{ color:#369; }

.BOX{ color:#300;  }

.BOX2{ color:#030;  }

p{ color:#F60; }
