@import url("reset.css");

.BOX {
	width:820px;
	height:650px;
	background-image:url(box.gif);
	margin:0 auto;
	padding:50px 40px 0 40px;
}

.BOX .WORD {}

.BOX .WORD h1 {
	font-size:25px;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom:15px;
}
.BOX .WORD p {
	font-size:13px;
	line-height:1.6;
	letter-spacing:1px;
	text-align:justify;
	padding-bottom:15px;
}
.BOX img {
	padding-left:12px;
	padding-right:10px;
	padding-bottom:15px;
	
	display:block;
	float:left;
}


